header {
	background-image: url(../img/headerBackground.png);
	padding-top: 50px;
	padding-bottom: 50px;
}

p {
	margin: 0;
    padding: 0;
}

.decorationNone{
     text-decoration: none;
}

.menu { 
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  margin-right: 30px; 
}

h1 {
  font-size: 70px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 0.24;
  font-weight: 800;
  text-transform: uppercase;
}

header h1{
	margin-top: 252px;
	margin-bottom: 42px;
}

.h {
	color: #f7600e;
}

.header-text{
  width: 66%;
  font-size: 25px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  margin-bottom: 67px;
}

.button a{
  
}

.button:hover {
  background-color: #f7600e;
  text-decoration: none;
}


.button{
    margin: 0 auto;
    border: 2px solid grey;
    box-sizing: border-box;
    background-color: #3f444b;
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
    background-color: #3f444b;
    margin-right: 30px;
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    border-radius: 7px;
}


.headerIcon{
	margin-top: 192px;
}

@media (min-width: 1200px) and (max-width: 1600px) {
   
}

@media (min-width: 992px) and (max-width: 1199px) {
  
}

@media (min-width: 768px) and (max-width: 991px) {
   
}

@media (min-width: 320px) and (max-width: 767px) {
      h1 {
        font-size: 16px;
      }

      header h1{
        margin-top: 100px;
        margin-bottom: 28px;
      }

      .header-text{
        width: 80%;
        font-size: 18px;
      }
    }