.main {
	background-image: url(../img/headerBackground.png); 
	padding-top: 50px;
	padding-bottom: 40px;
}

p {
	margin: 0;
    padding: 0;
}

.decorationNone{
     text-decoration: none;
}

.menuText { 
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  margin-right: 30px; 
}

h1 {
  font-size: 70px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 0.24;
  font-weight: 800;
  text-transform: uppercase;
}

main h1{
	margin-top: 252px;
	margin-bottom: 42px;
}

.h {
	color: #f7600e;
}


.header-text{
  width: 66%;
  font-size: 25px;
  font-family: "Open Sans";
  margin-bottom: 67px;
  color: #fff;
}



.button:hover {
  background-color: #f7600e;
  text-decoration: none;
  color: #fff;
  border-color: #f7600e;
}

.buttons{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-align: center;
}


.button{
    border: 1px solid #fff;
    background-color: #3f444b;
    padding-top: 14px;
    min-width: 200px;
    padding-bottom: 14px;
    border-radius: 10px;
    display: inline-block;
    color: #fff;
    margin-right: 30px;
    text-align: center;
}


.headerIcon{
	margin-top: 155px;
}

.float-none {
  float: none;
}

/* 2. Second section  -------------------------------------------------------------- */ 

.second_section {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.circleBorder {
  display: block;
  border: 1px solid grey;
  border-radius: 50%;
  width: 120px; 
  height: 120px;
  display: inline-block;
  line-height: 120px;
  vertical-align: middle;
}

.second_section_title{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "Open Sans";
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  width: 120px;
}

.second_section_description{
  width: 120px;
}

/* 2. Third section  -------------------------------------------------------------- */

.third_section{
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../img/sectionBackground.png);
}

.inputBorder{
  border-radius: 7px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.third_section_button{
    margin-right: 87px;
    width: 250px;
}

@media (min-width: 1200px) and (max-width: 1600px) {
   
}

@media (min-width: 992px) and (max-width: 1199px) {
  main h1{
        margin-top: 200px;
        margin-bottom: 28px;
      }

  .inputBorder{
    text-align: center;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
      h1 {
          font-size: 54px;
        }

      .header-text{
        width: 70%;
        font-size: 22px;
      }

   main h1{
        margin-top: 140px;
        margin-bottom: 28px;
      }

      .second_section_description{
      margin-bottom: 15px;
  }
}


@media (min-width: 320px) and (max-width: 767px) {
      h1 {
        font-size: 40px;
      }

      main h1{
        margin-top: 100px;
        margin-bottom: 28px;
      }

      .header-text{
        margin-top: 50px; 
        margin-bottom: 35px;
        width: 80%;
        font-size: 18px;
      }

      .menuText{
        visibility: hidden;
      }

      .button{
          padding-top: 10px;
          min-width: 170px;
          padding-bottom: 10px;
          border-radius: 7px;
          margin-top: 20px;
      }

      .buttons {
        width: 170px;
        font-size: 14px;
    }

    .headerIcon{
        margin-top: 80px;
    }

    .second_section_description{
      margin-bottom: 15px;
  }
   .third_section_button{
      margin-right: 0px;
      width: 140px;
  }

    .third_section{
        padding-top: 68px;
        padding-bottom: 68px;
  }
}

  @media (min-width: 320px) and (max-width: 500px) {
    .sec_sec_bl{
      width: 100%;
    }
}