.main {
    background-image: url(../img/headerBackground.png);
    padding-top: 50px;
    padding-bottom: 40px;
}

p {
    margin: 0;
    padding: 0;
}

.decorationNone {
    text-decoration: none;
}

.menuText {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    margin-right: 30px;
}

h1 {
    font-size: 70px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 0.24;
    font-weight: 800;
    text-transform: uppercase;
}

main h1 {
    margin-top: 252px;
    margin-bottom: 42px;
}

.h {
    color: #f7600e;
}

.header-text {
    width: 66%;
    font-size: 25px;
    font-family: "Open Sans";
    margin-bottom: 67px;
    color: #fff;
}

.button:hover {
    background-color: #f7600e;
    text-decoration: none;
    color: #fff;
    border-color: #f7600e;
}

.buttons {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-align: center;
}

.button {
    border: 1px solid #fff;
    background-color: #3f444b;
    padding-top: 12px;
    width: 207px;
    padding-bottom: 12px;
    border-radius: 10px;
    display: inline-block;
    color: #fff;
    margin-right: 30px;
    text-align: center;
}

.headerIcon {
    margin-top: 155px;
}

.float-none {
    float: none;
}

/* 2. Second section  -------------------------------------------------------------- */

.second_section {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.circleBorder {
    display: block;
    border: 1px solid grey;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: inline-block;
    line-height: 150px;
    vertical-align: middle;
}

.second_section_title {
    font-size: 16px;
    font-family: "OpenSans";
    color: rgb(59, 67, 76);
    line-height: 2.5;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
}

.second_section_description {
    width: 150px;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(59, 67, 76);
    line-height: 1.857;
    width: 158px;
}

/* 3. Third section  -------------------------------------------------------------- */

.third_section {
    padding-top: 100px;
    padding-bottom: 98px;
    background-image: url(../img/sectionBackground.png);
}

.inputBorder {
    border-radius: 7px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.third_section_button {
    margin-right: 87px;
    width: 270px;
}

.ourWorks h2{ 
  font-size: 35px;
  font-family: "Open Sans";
  color: rgb(59, 67, 76);
  line-height: 1.143;
  text-transform: uppercase;
}

.ourWorks_description{
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(59, 67, 76);
  line-height: 1.875;
  width: 50%;
  margin-bottom: 100px;
  margin-top: 30px;
}

/* 4. Fourth section  -------------------------------------------------------------- */

.ourWorks {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}

.ourWorksImg{
    height: 362px;
    width: 362px;
}

.ourWorksImgBlock{
    margin-top: 30px;
}

.sixthPicture{
    background-image: url(../img/section4Img6.png);
    background-size: cover;
    height: 362px;
    width: 362px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.imageTitle{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: "OpenSans";
}

.imageDescription{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 10px;
    font-family: "Open Sans";
    width: 66%;
}

.ourWorks_section_button{
    width: 200px;
    margin: 0 auto;
}

.ourWorksMarBut{
    margin-bottom: 100px;
}

.sixthPicture .button:hover{
    background-color: #fff;
    text-decoration: none;
    color: #f7600e;
    border-color: #fff;
}

.buttonOurWorks{
    border: 1px solid grey;
    background-color: #fff;
    color: black;
}

/* 5. Five section  -------------------------------------------------------------- */

.fiveSection{
    background-image: url(../img/section5Background.png);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.author{
    color: #fff;
    margin-top: 50px;
    font-size: 18px;
    font-family: "Open Sans";
}

.fiveSection_Avadescription{
    margin-top: 55px;
    color: #fff;
    font-size: 25px;
    font-family: "Open Sans";
    font-style: italic;
    width: 80%;
}

    .table{
        
    }

    .arrow{
        
    }

@media (min-width: 1200px) and (max-width: 1600px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    main h1 {
        margin-top: 200px;
        margin-bottom: 28px;
    }

    .inputBorder {
        text-align: center;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 54px;
    }

    .header-text {
        width: 70%;
        font-size: 22px;
    }

    main h1 {
        margin-top: 140px;
        margin-bottom: 28px;
    }

    .second_section_description {
        margin-bottom: 15px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    main h1 {
        margin-top: 100px;
        margin-bottom: 28px;
    }

    .header-text {
        margin-top: 50px;
        margin-bottom: 35px;
        width: 80%;
        font-size: 18px;
    }

    .menuText {
        visibility: hidden;
    }

    .button {
        padding-top: 10px;
        min-width: 170px;
        padding-bottom: 10px;
        border-radius: 7px;
        margin-top: 20px;
    }

    .buttons {
        width: 170px;
        font-size: 14px;
    }

    .headerIcon {
        margin-top: 80px;
    }

    .second_section_description {
        margin-bottom: 15px;
    }

    .third_section_button {
        margin-right: 0px;
        width: 140px;
    }

    .third_section {
        padding-top: 68px;
        padding-bottom: 68px;
    }

    .ourWorksImg{
        height: 220px;
        width: 220px;
    }

    .sixthPicture{
        height: 220px;
        width: 220px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .imageTitle{
        margin-bottom: 15px;
        font-size: 18px; 
    }

    .imageDescription{
        margin-bottom: 10px;
        font-size: 10px;
        width: 66%;
    }

    .ourWorks_section_button{
        padding-top: 10px;
        width: 150px;
        padding-bottom: 10px;
        font-size: 13px;
    }

    .ourWorks h2{ 
          font-size: 25px;
          
        }

    .ourWorks_description{
      font-size: 12px;
      width: 70%;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .ourWorks {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .ourWorksMarBut{
        margin-bottom: 15px;
    }

    .author{
        margin-top: 25px;
        font-size: 12px;
    }

    .fiveSection_Avadescription{
        margin-top: 30px;
        font-size: 16px;
        width: 70%;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .sec_sec_bl {
        width: 100%;
    }
}